{% load django_vite %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>

    {% vite_hmr_client %}

    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="{% static 'favicon.svg' %}" />
    <meta
      name="viewport"
      content="minimum-scale=1, initial-scale=1, width=device-width, user-scalable=no"
    />
    <title>Mantine Vite template</title>
  </head>
  <body>
    <div id="root"></div>
    {% vite_react_refresh %}
    {% vite_asset 'src/main.tsx' %}
  </body>
</html>
